* {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
    width: 1000px;
}

img {
    border: 5px red solid;
    width: 60%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.screen {
    position: absolute;
    left: 380px;
    top: 58px;
    width: 240px;
    height: 460px;
}

.output {
    height: 115px;
    background-color: darkblue;
}

.keystrokes {
    text-align: right;
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding: 50px 5px 5px 5px;
    margin-bottom: 0;
}

.calculator-buttons {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-button  {
  background: white;
  border: 1px solid darkblue;
  padding: 20px;
  color: darkblue;
  font-size: 20px;
}

.is-zero,
.is-clear   {
  grid-column: span 2;
}

.is-clear   {
  background: #3572DB;
  font-size: 14px;
  color: white;
  padding: 10px;
}

.is-back {
  font-size: 14px;
  padding: 10px;
  background-color: lightgrey;
  color: slategrey;
}

.is-equals {
    background: limegreen;
    color: white;
}

.num {
    background: linear-gradient(to bottom left, darkblue, #0000cc);
    color: white;
    border: none;
    font-weight: 100;
}

button:focus {
    outline: none;
}

.num:hover {
    background: darkblue;
}

.num:active {
    background: white;
    color: darkblue;
}

#operator:hover {
    background-color: lightgrey;
}

#operator:active {
    background-color: white;
    color: darkblue;
}
