* {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
    width: 1000px;
    background: linear-gradient(to right, whitesmoke, gainsboro, silver, darkgrey, grey);
}

img {
    top: 50px;
    width: 60%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.screen {
    position: absolute;
    left: 376px;
    top: 100px;
    width: 248px;
    height: 460px;
}

.output {
    height: 125px;
    background-color: darkblue;
}

.input {
    text-align: right;
    font-size: 30px;
    font-weight: 100;
    color: white;
    padding: 50px 5px 5px 5px;
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

.calculator-buttons {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  background: white;
  border: 1px solid darkblue;
  padding: 20px;
  color: darkblue;
  font-size: 20px;
}

.is-zero,
.clear   {
  grid-column: span 2;
}

.clear {
  background: #3572DB;
  font-size: 14px;
  color: white;
  padding: 10px;
}

.clear:hover {
    background: white;
    color: darkblue;
}

.clear:active {
    background: #3572DB;
}

.delete {
  font-size: 14px;
  padding: 10px;
  background-color: lightgrey;
  color: slategrey;
}

.delete:hover {
  color: darkblue;
}

.delete:active {
  color: slategrey;
}

.equals {
    background: limegreen;
    color: white;
}

.digit {
    background: linear-gradient(to bottom left, darkblue, #0000cc);
    color: white;
    border: none;
    font-weight: 100;
}

.digit:hover {
    background: darkblue;
}

.digit:active {
    background: white;
    color: darkblue;
}

#operator:hover {
    background-color: lightgrey;
}

#operator:active {
    background-color: white;
    color: darkblue;
}
